absl-py==1.4.0
aiohttp==3.8.3
aiosignal==1.3.1
airfoils==0.2.2
altair==4.2.0
annotated-types==0.7.0
anyio==3.6.2
aplus==0.11.0
appdirs==1.4.4
appnope==0.1.3
apptools==5.2.0
argcomplete==3.3.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
astropy==5.2.1
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
bitarray==2.9.2
bitstring==4.2.3
blake3==0.3.3
bleach==5.0.1
boto3==1.34.85
botocore==1.34.85
bqplot==0.12.43
branca==0.6.0
bs4==0.0.2
bz2file==0.98
cached-property==1.5.2
cachetools==5.3.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.15.1
cfn-flip==1.3.0
cftime==1.6.2
chardet==3.0.4
charm @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/CHARM
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.19.0
cloudpickle==2.2.0
confection==0.1.5
configobj==5.0.6
contourpy==1.0.7
cookiecutter==2.3.0
cryptography==43.0.1
cycler==0.11.0
cymem==2.0.8
dask==2022.10.2
dataclasses==0.6
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
degen-geom @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/degen_geom
descartes==1.1.0
distlib==0.3.6
distro==1.9.0
docker==3.7.3
docker-compose==1.20.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
durationpy==0.6
ecdsa==0.19.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints==0.4
envisage==6.1.0
esptool==4.8.1
et-xmlfile==1.1.0
euclid3==0.1
executing==1.0.0
ezdxf==1.3.3
f90nml==1.4.4
fastapi==0.94.1
fasteners==0.18
fastjsonschema==2.16.1
filelock==3.16.1
Fiona==1.9.3
Flask==2.2.3
flask-cors==5.0.1
flatbuffers==23.5.26
fonttools==4.37.1
fortranformat==2.0.0
frozendict==2.3.5
frozenlist==1.3.3
fsspec==2024.9.0
future==0.18.2
gast==0.4.0
gensim==4.3.2
geopandas==0.12.2
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googlesearch-python==1.1.0
grpcio==1.54.2
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5netcdf==1.0.2
h5py==3.12.1
hjson==3.1.0
httpcore==1.0.6
httptools==0.5.0
httpx==0.27.2
humanize==4.8.0
idna==2.6
imageio==2.33.0
imageio-ffmpeg==0.4.8
intelhex==2.3.0
ipycanvas==0.13.1
ipydatawidgets==4.3.3
ipyevents==2.0.1
ipykernel==6.15.2
ipyleaflet==0.17.2
ipympl==0.9.3
ipython==8.4.0
ipython-genutils==0.2.0
ipyvolume==0.6.3
ipyvtklink==0.2.3
ipyvue==1.9.0
ipyvuetify==1.8.10
ipywebrtc==0.6.0
ipywidgets==7.7.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.1.0
jsonpickle==3.0.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kappa==0.6.0
keras==2.13.1rc0
kiwisolver==1.4.4
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.3
libclang==16.0.0
llvmlite==0.43.0
locket==1.0.0
lxml==4.9.1
marisa-trie==1.2.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.6
mayavi==4.8.2.dev0
mdurl==0.1.2
Mesa==2.1.1
MIDIUtil==1.2.1
mistune==2.0.4
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.2
multiprocessing-logging==0.3.4
munch==2.5.0
murmurhash==1.0.10
mutagen==1.45.1
mysql-connector-python==8.0.30
mysqlclient==2.2.0
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4==1.6.1
networkx==3.3
nibabel==4.0.2
nltk==3.8.1
notebook==6.4.12
numba==0.60.0
numcodecs==0.10.2
numpy==1.23.5
oauthlib==3.2.2
openai==1.51.2
opencv-python==4.10.0.84
openpyxl==3.0.10
openvsp @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/openvsp
openvsp-config @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/openvsp_config
opt-einsum==3.3.0
packaging==24.1
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
patsy==0.5.6
pdfminer==20191125
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
placebo==0.9.0
platformdirs==2.5.2
plotly==5.14.1
ply==3.11
pooch==1.6.0
preshed==3.0.9
prettytable==0.7.2
proglog==0.1.10
progressbar2==4.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==4.23.2
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodome==3.15.0
pycsg==0.3.3
pydantic==2.9.2
pydantic_core==2.23.4
Pydap==3.2.2
pydicom==2.4.3
pyecharts==1.9.1
pyerfa==2.0.0.1
pyface==7.4.3
PyGetWindow==0.0.9
pyglet==2.0.4
Pygments==2.18.0
pygraphviz==1.14
pymdown-extensions==10.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
pymzml==2.5.2
pynndescent==0.5.8
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyparsing==3.0.9
PyPDF2==2.10.4
pyperclip==1.9.0
pypmarc @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/pyPMARC
pypng==0.0.19
pyproj==3.5.0
pyPS4Controller==1.2.5
Pypubsub==4.0.3
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pysurfer==0.12.dev0
pytecplot==1.5.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-louvain==0.15
python-slugify==8.0.1
python-utils==3.5.2
python-vtk==0.0.0
pythreejs==2.4.2
pytweening==1.2.0
pytz==2022.2.1
PyVirtualDisplay==3.0
pyvis==0.3.2
pyvista==0.37.0
pyvsp @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/PyVSP
PyYAML==3.13
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
reacton==1.7.1
reedsolo==1.7.0
regex==2023.10.3
requests==2.18.4
requests-oauthlib==1.3.1
rich==13.9.2
rich-click==1.6.1
rsa==4.9
rubicon-objc==0.4.9
s3transfer==0.10.1
safetensors==0.4.0
scikit-image==0.22.0
scikit-learn==1.1.2
scipy==1.14.1
scooby==0.7.0
seaborn==0.13.2
Send2Trash==1.8.0
sentence-transformers==3.0.1
shapely==2.0.1
shellingham==1.5.4
simplejson==3.17.6
six==1.16.0
sklearn==0.0
slack_sdk==3.31.0
slicer==0.0.7
smart-open==7.0.5
sniffio==1.3.0
sodapy==2.2.0
solara==1.19.0
solid==0.2.0
solidpython==1.1.3
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.40
srsly==2.4.8
stack-data==0.5.0
starlette==0.26.1
statsmodels==0.14.2
sympy==1.13.3
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0rc0
tensorflow-estimator==2.13.0rc0
tensorflow-macos==2.13.0rc0
termcolor==2.3.0
terminado==0.15.0
text-unidecode==1.3
texttable==0.9.1
threadpoolctl==3.1.0
tifffile==2023.9.26
tinycss2==1.1.1
tokenizers==0.14.1
toml==0.10.2
toolz==0.12.0
topojson==1.5
torch==2.4.1
torchaudio==2.1.0
torchvision==0.19.1
tornado==6.2
tqdm==4.66.5
traitlets==5.3.0
traits==6.4.1
traitsui==7.4.2
traittypes==0.2.1
transformers==4.35.0
tripy==1.0.0
troposphere==4.7.0
tweepy==4.13.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.3
urllib3==2.3.0
utilities @ file:///Users/amirakhavan/Downloads/OpenVSP-3.40.1-MacOS/python/utilities
uvicorn==0.21.0
uvloop==0.17.0
vaex==4.16.0
vaex-astro==0.9.3
vaex-core==4.16.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.1
vaex-ml==0.18.1
vaex-server==0.8.1
vaex-viz==0.5.4
vega-datasets==0.9.0
virtualenv==20.16.4
vtk==9.2.2
wasabi==1.1.3
watchdog==3.0.0
watchfiles==0.18.1
wcwidth==0.2.5
weasel==0.4.1
webencodings==0.5.1
WebOb==1.8.7
websocket-client==0.59.0
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==3.6.1
wrapt==1.16.0
wslink==1.9.1
wsproto==1.2.0
wxPython==4.2.1
xarray==2022.11.0
xgcm==0.8.0
xlrd==2.0.1
xmltodict==0.13.0
xyzservices==2023.2.0
yarl==1.8.1
yellowbrick==1.5
zappa==0.59.0
zarr==2.13.3
